In [ ]:
###Tuple is enclosed in parenthesis()
###Heterogenous-->multiple data type
###Immutable-we cannot be change once created

In [5]:
ex1=(1,2,3,"R",3.4,5.6,"Python")
ex2=("Piyush","Sheela","pooja","Arun")
print(ex1)
print(ex2)
print(type(ex1))
print(type(ex2))

(1, 2, 3, 'R', 3.4, 5.6, 'Python')
('Piyush', 'Sheela', 'pooja', 'Arun')
<class 'tuple'>
<class 'tuple'>

In [6]:
ex1=1,2,3,"R",3.4,5.6,"Python"                       ---- -------I am removing the parenthesis ,so it's called again tuple
ex2="Piyush","Sheela","pooja","Arun"
print(ex1)
print(ex2)
print(type(ex1))
print(type(ex2))

(1, 2, 3, 'R', 3.4, 5.6, 'Python')
('Piyush', 'Sheela', 'pooja', 'Arun')
<class 'tuple'>
<class 'tuple'>

In [4]:
ex1==ex2

False

In [7]:
ex1[1:5]

(2, 3, 'R', 3.4)

In [8]:
ex2[-2]

'pooja'

In [10]:
###Note:we can retrieve the elements using index

In [11]:
ex2[-2]='vaishnavi'                                         ----Immutable-we cannot be change once created
ex2

TypeError: 'tuple' object does not support item assignment

In [12]:
tuple3=ex2*2
tuple3

('Piyush', 'Sheela', 'pooja', 'Arun', 'Piyush', 'Sheela', 'pooja', 'Arun')

In [15]:
###But somehow replace or add the elements how can do that in tuple?
###by creating a converting a list ,after that change it.

In [16]:
ex2

('Piyush', 'Sheela', 'pooja', 'Arun')

In [17]:
type(ex2)

tuple

In [19]:
ex3=list(ex2)
ex3

['Piyush', 'Sheela', 'pooja', 'Arun']

In [21]:
ex3[2]='vaishnavi'
ex3

['Piyush', 'Sheela', 'vaishnavi', 'Arun']